micasense
env-Agro
*.csv
*.pyc
*.log
*.pth
*.txt
*.tif
*.tiff
**/__pycache__
**/data
**/Ejecutables
**GUI_.py
**pyinstall_linux.py
**pyinstall_win.py
**/panel_detection/__pycache__
**panel_kmeans.py
pipeline.py
